* {
  box-sizing: border-box;
  font-family: "Shippori Mincho", serif;
  font-style: normal;
}
body {
  background: #004526;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  max-width: 500px;
}
.header {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container button {
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.header .container .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  transition: background 0.3s linear;
}
.header .container .circle .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.header .container .circle .timer p {
  font-size: 15px;
  font-weight: bold;
}
.header .container .header-text {
  color: white;
}
.card {
  display: flex;
  justify-content: center;
  height: calc(100vh - 140px);
  margin-top: 30px;
}
.card .container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  justify-content: start;
}
.card .container .question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  padding: 20px;
  background-color: #6B8E23;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.card .container .button-choix {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  border: 2px solid #f3eeee;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.card .container .button-choix input[type='radio'] {
  accent-color: #01411C;
}
.card .container .choisir {
  background-color: #76FF7A;
  border: 1px solid #01411C;
}
.card .container .suivante {
  text-align: center;
  color: white;
  width: 150px;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #004526;
  padding: 15px;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.score .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  height: 80vh;
  position: relative;
  border-radius: 10px;
}
.score .container::before {
  content: "";
  height: 100px;
  width: 100%;
  background-color: #4FFFB0;
  border-radius: 20px;
  z-index: -1;
  position: absolute;
  top: -40px;
}
.score .container h2 {
  font-size: 15px;
  top: -40px;
  position: absolute;
}
.score .container h3 {
  margin: 0;
}
.score .container p {
  margin: 0;
  color: #7a7474;
  font-weight: bold;
  font-size: 15px;
}
.score .container .medaille {
  position: relative;
}
.score .container .medaille .img1 {
  width: 100px;
}
.score .container .medaille .img2 {
  border-radius: 50%;
  border: 3px solid white;
  background-color: #4FFFB0;
  position: absolute;
  top: 18px;
  left: 20px;
  width: 60px;
}
.score .container .text-score {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.score .container .text-score .point {
  color: #2dec0f;
}
.score .container .coins {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.score .container .coins i {
  color: #ccd609;
  font-size: 20px;
}
.score .container .coins p {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.score .container .home {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #004526;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
}
.choix-quiz {
  display: flex;
  justify-content: center;
}
.choix-quiz .container h3 {
  color: white;
  text-align: center;
}
.choix-quiz .container .card-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.choix-quiz .container .card-quiz .card-choix {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background: white;
}
.choix-quiz .container .card-quiz .card-choix .titre {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
.choix-quiz .container .card-quiz .card-choix .titre #html {
  font-size: 40px;
  color: orangered;
}
.choix-quiz .container .card-quiz .card-choix .titre #css {
  font-size: 40px;
  color: #2a2ab8;
}
.choix-quiz .container .card-quiz .card-choix .titre #js {
  font-size: 40px;
  color: #bff010;
}
.choix-quiz .container .card-quiz .card-choix .info {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
}
.choix-quiz .container .card-quiz .card-choix .info .time {
  display: flex;
  align-items: center;
}
.choix-quiz .container .card-quiz .card-choix button {
  margin-top: 10px;
  border: none;
  width: 100%;
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
